<?xml version="1.0"?>
<configuration>
   <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
         <dependentAssembly>

            <assemblyIdentity name="StronglyNamedAssembly"
              publicKeyToken="5fdd701af783c79c" culture="neutral"/>

            <publisherPolicy apply="no" />

         </dependentAssembly>
      </assemblyBinding>
   </runtime>
</configuration>
