<configuration>
   <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
         <dependentAssembly>

            <assemblyIdentity name="StronglyNamedAssembly"
              publicKeyToken="5fdd701af783c79c" culture="neutral"/>

            <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />

         </dependentAssembly>
      </assemblyBinding>
   </runtime>
</configuration>
